# Dependency directories
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Coverage reports
coverage/
*.lcov
.nyc_output/

# Parcel cache
.cache

# Environment configuration files
.env
.env.test

# Operating system files
.DS_Store
Thumbs.db
Desktop.ini

# IDEs and editors
.idea/
.vscode/
*.sublime-workspace

# Temporary files
*.tmp
*.bak
*.swp
*.swo

# Build outputs
dist/
